<nav>
    <a href="page/home" class="menu-item">
        <img src="assets/icons/home.svg" />
        <span class="text">Inicio</span>
    </a>
    <a href="page/personal-info" class="menu-item">
        <img src="assets/icons/account_circle.svg" />
        <span class="text">Información personal</span>
    </a>
    <a href="page/experience" class="menu-item">
        <img src="assets/icons/work.svg" />
        <span class="text">Experiencia</span>
    </a>
    <a href="page/education" class="menu-item">
        <img src="assets/icons/school.svg" />
        <span class="text">Educación</span>
    </a>
    <a href="page/skills" class="menu-item">
        <img src="assets/icons/build.svg" />
        <span class="text">Habilidades</span>
    </a>
    <a href="page/projects" class="menu-item">
        <img src="assets/icons/folder_open.svg" />
        <span class="text">Projectos</span>
    </a>
    <a href="page/contact" class="menu-item">
        <img src="assets/icons/mail.svg" />
        <span class="text">Contacto</span>
    </a>
</nav>